@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-image: url(bg3.jpg);
  font-family: "Varela Round", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Varela Round", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 14vh;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-size: 1.3rem;
}
nav ul div {
  display: flex;
}
nav ul div li {
  padding: 0 2rem;
}
.brand img {
  width: 4vw;

  padding: 0 1vw;
  height: auto;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
  position: relative;
  left: 2%;
}
.bottom {
  display: flex;
  background-color: black;
  position: relative;
  height: 50vh;
  margin: auto;
  background-size: cover;
  bottom: 0;
}
.playback{
  background-color: black;
  position: sticky;
  bottom: 0;
}

.player {
  width: 100%;
  display: flex;
  /* position: sticky; */
  justify-content: center;
  align-items: center;
  background-color: black;
  bottom: 14.7vh;
}
#progressbar {
  width: 80%;
  /* position: sticky; */
  bottom: 2vh;
  cursor: pointer;
}

/* .links {
  display: flex;
  flex-direction: column;
  padding: 0 4vw 5vh 4vw;
  position: relative;
  margin: auto;
  left: 25vw;
  top: 10vh;
} */
#ncs {
  position: center;
}
.icons {
  color: white;
  font-size: 2rem;
  margin-left: 46%;
  background-color: black;
  position: relative;
  justify-content: center;

}
.bgplayer {
  position: sticky;
  background-color: black;
  color: black;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
.icons i {
  cursor: pointer;

}
.container {
  min-height: 90vh;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 5% auto;
  width: 80vw;
  border-radius: 1.5%;
  padding: 34px;
  background-image: url(robjpg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.songlist {
  display: flex;
  flex-direction: column;
}

.songitem {
  display: flex;
  position: relative;
  font-family: "Varela Round", sans-serif;
  font-size: 1.4rem;
  margin: 2% 0;
  width: 40vw;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 10vh;
  border-radius: 30vw;
  margin-top:   4px;
  
}

.songitem img {
  width: 50px;
  margin: 0 2%;
  border-radius: 99%;
}
.songitem i {
  padding: 0 20px;
  cursor: pointer;
  position: auto;
}
.bottombrand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
  position: relative;
  left: 5vw;
  top: 12vh;
}
.songinfo {
  display: flex;
  position: relative;
  margin: 0 10%;
  padding-top: 35px;
  font-family: "Varela round", sans-serif;
  color: white;
  align-items: center;
}
.songinfo img {
  opacity: 0;
  transition: opacity 0.31s ease-in;
}

footer {
  height: 50vh;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 20px;
}
.foot {
  margin: auto;
  display: flex;
  justify-content: center;
  /* gap: 10px; */
}
.links {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
.links li {
  list-style: none;
}

@media (max-width: 828px) {
  .songitem {
    width: auto;
  }
  .foot {
    justify-content: space-between;
    font-size: 0.9rem;
  }
  nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }
  .brand img {
    width: 2.5rem;
  }
}
